# Movies Tonight Part 2: SQL DDL

In [20]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

1. **Create / Reset a SQLite database.** 
    - Name the database `Movies.db`.
    - Add `DROP TABLE IF EXISTS` queries make sure you have a blank database. 
    - Use SQL comments to ay what each line does

In [21]:
%sql sqlite:///Movies.db

'Connected: @Movies.db'

In [22]:
%%sql
DROP TABLE IF exists movies

 * sqlite:///Movies.db
Done.

[]

In [23]:
%%sql
DROP TABLE IF exists theater

 * sqlite:///Movies.db
Done.

[]

In [24]:
%%sql
DROP TABLE IF exists artist;

 * sqlite:///Movies.db
Done.

[]

In [25]:
%%sql
DROP TABLE IF exists credit;

 * sqlite:///Movies.db
Done.

[]

In [26]:
%%sql
DROP TABLE IF exists show;

 * sqlite:///Movies.db
Done.

[]

2. **Use SQL Create Table commands to implement the table designs you created in Part 1.** 
    - Take care with your data types! (You do not need to populate them yet. Thatâ€™s Part 3.) 
    - Use a surrogate key for the primary key of each table. The data type descriptor is `INTEGER PRIMARY KEY`.
    - If you make a mistake, recreate the database from scratch using your code from step 1 above.

In [27]:
%%sql
CREATE TABLE MOVIES (
    MID INTERGER PRIMARY KEY,
    MTitle TEXT NOT NULL,
    Rating TEXT
    
);

 * sqlite:///Movies.db
Done.

[]

In [28]:
%%sql
CREATE TABLE THEATER (
    TID INTERGER PRIMARY KEY,
    TName TEXT NOT NULL,
    Phone TEXT,
    Location TEXT NOT NULL
    
);

 * sqlite:///Movies.db
Done.

[]

In [29]:
%%sql
CREATE TABLE ARTIST (
    AID INTERGER PRIMARY KEY,
    Name TEXT NOT NULL
    
);

 * sqlite:///Movies.db
Done.

[]

In [31]:
%%sql
CREATE TABLE SHOW (
    SID INTERGER PRIMARY KEY,
    MID INTERGER NOT NULL,
    TID INTERGER NOT NULL,
    STime TEXT NOT NULL,
    FOREIGN KEY (MID) REFERENCES MOVIES (MID),
    FOREIGN KEY (TID) REFERENCES THEATERS (TID)
);

 * sqlite:///Movies.db
Done.

[]

In [32]:
%%sql
CREATE TABLE CREDIT (
    CID INTERGER PRIMARY KEY,
    AID INTERGER NOT NULL,
    MID INTERGER NOT NULL,
    CCode TEXT NOT NULL,
    FOREIGN KEY (MID) REFERENCES MOVIES (MID),
    FOREIGN KEY (AID) REFERENCES ARTIST (AID)
);

 * sqlite:///Movies.db
Done.

[]

In [ ]:
YOUR CODE HERE

3. **Use SQL ALTER TABLE statements to add the foreign key constraints from your ERD.**  
Take care that each constraint has to have a unique name.

In [ ]:
YOUR CODE HERE

4. **Save, add, commit, and push your work to GitHub.**  
Use the commit summary comment "Completed Part 2".